body {
    background-color: #000;
    color: #fff;
}
.btn-kingdom {
    background-color: #d10000;
    border-color: #d10000;
    color: #fff;
}
.btn-kingdom:hover {
    background-color: #b00000;
    border-color: #b00000;
    color: #fff;
}
.navbar-brand, .nav-link {
    color: #fff !important;
}
.form-check-label {
    margin-left: 0.3rem;
}
